:root{
    --clr-neutral-100: hsl(0 0% 100%);
    --clr-neutral-200: hsl(41, 72%, 46%);
    --clr-neutral-300: rgb(216, 151, 30);
    --clr-neutral-800: hsl(225, 47%, 23%);

    --clr-primary-200: hsl(225, 100%, 94%);
    --clr-primary-300: hsl(245, 83%, 68%, 1);
    --clr-primary-400: hsl(245, 75%, 52%);

    --fs-700: 1.75rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;

    --fw-400: 500;
    --fw-700: 700;
    --fw-900: 900;
    

}


/* Box sizing rules */
*, 
*::before,
*::after{
    box-sizing: border-box;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4, 
p,
figure,
blockquote,
dl,
dd{
    margin: 0;
}

/* Remove list styles on ul, ol elements with a */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}


/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* An element that doesn'thave a class get default */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make image easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all the animations, transitions and smoothing */
@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.1ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-size: var(--fs-400);
    font-weight: var(--fs-400);
    color: var(--clr-neutral-200);
    background-color: var(--clr-neutral-800);
    line-height: 1.6;

    /* for demo only */
    display: grid;
    min-height: 100vh;
    place-items: center;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

h2 {
    font-size: var(--fs-700);
    color: var(--clr-neutral-800);
}